<!DOCTYPE html>
<html>

<head>
    <title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <h1 class="app-title">LeadFlow AI</h1>
            <h2>Create Account For Your Business</h2>

            <input id="name" placeholder="Name">
            <input id="email" placeholder="Email">
            <input id="password" type="password" placeholder="Password">
            <input id="businessName" placeholder="Business Name">
            <select id="profession">
                <option value="Gym">Gym</option>
                <option value="Salon">Salon</option>
                <option value="Clinic">Clinic</option>
                <option value="Real Estate">Real Estate</option>
                <option value="Hospitals">Hospitals</option>
                <option value="Online Content Creator">Online Content Creator</option>
                <option value="Digital Marketing Agency">Digital Marketing Agency</option>
                <option value="Dehydated Food Buisness">Dehydated Food Buisness</option>
                <option value="3D Printing Services">3D Printing Services</option>
                <option value="Pharmacy">Pharmacy</option>
                <option value="Interior Designer">Interior Designer</option>
                <option value="Civil Engineer">Civil Engineer</option>
                <option value="Shopping Mall">Shopping Mall</option>
            </select>
            <input id="businessPhone" placeholder="Business Phone">
            <input id="location" placeholder="City">
            <input id="services" placeholder="Main Service">
            <input id="website" placeholder="Website">

            <button id="signupBtn" onclick="signup()">
                Sign Up
                <span id="spinner" style="display:none;">⏳</span>
            </button>

            <p>Already registered? <a href="/login">Login here</a></p>
        </div>
    </div>
    <script src="/js/api.js"></script>
    <script src="/js/auth.js"></script>
</body>

</html>
